In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series(data=[1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
my_series = pd.Series(data={
    "name" :"Daniel", 
    "age": 18,
    12: 'hello'
})

my_series

name    Daniel
age         18
12       hello
dtype: object

In [7]:
my_series[1:2]

age    18
dtype: object

In [10]:
my_series[[1,2]]

In [12]:
my_series.array

<PandasArray>
['Daniel', 18, 'hello']
Length: 3, dtype: object

In [14]:
my_series.to_numpy

<bound method IndexOpsMixin.to_numpy of name    Daniel
age         18
12       hello
dtype: object>

In [16]:
my_series + my_series

name    DanielDaniel
age               36
12        hellohello
dtype: object

In [24]:
df = pd.DataFrame(data={
    "name" :["Daniel", 'hello'], 
    "age": 18,
    12: 'hello'
})

df

     name  age     12
0  Daniel   18  hello
1   hello   18  hello

In [30]:
# add a column to the dataframe
df['new_col'] = ['booool' for _ in range(2)]
df

     name  age     12 new_col
0  Daniel   18  hello  booool
1   hello   18  hello  booool

In [31]:
df.pop('new_col')
df

     name  age     12
0  Daniel   18  hello
1   hello   18  hello