Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [6]:
NAME = "Daniel Wossen"
import pandas as pd
import numpy as np
df = pd.read_csv('Salaries.csv')
df.head()

C:\Users\hp\AppData\Local\Temp\ipykernel_20972\1375400659.py:4: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Salaries.csv')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

---

# Q3: Pandas

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

Write a function `average_base_pay(df)` that takes a dataframe and returns the average BasePay.

In [4]:

def average_base_pay(df):
    """Compute the average base pay in the dataframe.
    
    Args:
        df: A dataframe with a column 'BasePay' containing numerical values.
    
    Returns:
        The average base pay as a float.
    """
    
    base_pay_col = df['BasePay']
    base_pay_col = base_pay_col.replace('Not Provided', np.nan)
    base_pay_col = base_pay_col.dropna()
    base_pay_col = base_pay_col.astype(float)
    return base_pay_col.mean()

In [5]:
def test_average_base_pay():
    """Check that average_base_pay returns the correct output for several inputs"""
    assert average_base_pay(df) == 66325.44884048768
    print("All tests passed")

test_average_base_pay()

All tests passed

q) Write a function `highest_overtime_pay(df)` that takes a dataframe and returns the highest OvertimePay.

In [39]:
def highest_overtime_pay(df):
    """Compute the highest overtime pay in the dataframe.
    
    Args:
        df: A dataframe with a column 'OvertimePay' containing numerical values.
    
    Returns:
        The highest overtime pay as a float.
    """
    over_time_col = df['OvertimePay']
    over_time_col = over_time_col.replace('Not Provided', np.nan)
    over_time_col = over_time_col.dropna()
    over_time_col = over_time_col.astype(float)
    return over_time_col.max()

In [41]:
def test_highest_overtime_pay():
    """Check that highest_overtime_pay returns the correct output for several inputs"""
    print(highest_overtime_pay(df))

test_highest_overtime_pay()

245131.88

Write a function `job_title_of(df, name)` that takes a dataframe and a name, and returns the job title of the person with the given name. Make sure the name is case insensitive.

In [13]:
def job_title_of(df, name):
    """Find the job title of a person with a given name in the dataframe.
    
    Args:
        df: A dataframe with columns 'EmployeeName' and 'JobTitle' containing strings.
        name: A string representing a name.
    
    Returns:
        The job title as a string.
    """
    person_row = df[df['EmployeeName'] == name]
    # print(person_row['JobTitle'].values)
    job_title = person_row['JobTitle'].values[0]
    return job_title

In [14]:
def test_job_title_of():
    """Check that job_title_of returns the correct output for several inputs"""
    print(job_title_of(df, "GARY JIMENEZ"))

test_job_title_of()

['CAPTAIN III (POLICE DEPARTMENT)']
CAPTAIN III (POLICE DEPARTMENT)

Write a function `total_pay_benefits_of(df, name)` that takes a dataframe and a name, and returns the total pay benefits of the person with the given name. Make sure the name is case insensitive.

In [15]:
def total_pay_benefits_of(df, name):
    """Find the total pay benefits of a person with a given name in the dataframe.
    
    Args:
        df: A dataframe with columns 'EmployeeName' and 'TotalPayBenefits' containing strings and numerical values, respectively.
        name: A string representing a name.
    
    Returns:
        The total pay benefits as a float.
    """
    # YOUR CODE HERE
    return df[df['EmployeeName'] == name]['TotalPayBenefits'].values[0]

In [ ]:
def test_total_pay_benefits_of():
    """Check that total_pay_benefits_of returns the correct output for several inputs"""

Write a function `highest_paid_person(df)` that takes a dataframe and returns the name of the highest paid person (including benefits).

In [ ]:
def highest_paid_person(df):
    """Find the name of the highest paid person in the dataframe.
    
    Args:
        df: A dataframe with columns 'EmployeeName' and 'TotalPayBenefits' containing strings and numerical values, respectively.
    
    Returns:
        The name of the highest paid person as a string.
    """
    return df.loc[df['TotalPayBenefits'].idxmax()]['EmployeeName']

In [ ]:
def test_highest_paid_person():
    """Check that highest_paid_person returns the correct output for several inputs"""

Write a function `lowest_paid_person(df)` that takes a dataframe and returns the name of the lowest paid person (including benefits).

In [ ]:
def lowest_paid_person(df):
    """Find the name of the lowest paid person in the dataframe.
    
    Args:
        df: A dataframe with columns 'EmployeeName' and 'TotalPayBenefits' containing strings and numerical values, respectively.
    
    Returns:
        The name of the lowest paid person as a string.
    """
    
    # YOUR CODE HERE
    return df.loc[df['TotalPayBenefits'].idxmin()]['EmployeeName']

In [ ]:
def test_lowest_paid_person():
    """Check that lowest_paid_person returns the correct output for several inputs"""

Write a function `average_base_pay_per_year(df, year_start, year_end)` that takes a dataframe and a start and end year, and returns the average (mean) BasePay of all employees per year within the given range (inclusive).

In [22]:
def average_base_pay_per_year(df, year_start, year_end):
    """Compute the average base pay per year in the given range.
    
    Args:
        df: A dataframe with columns 'BasePay' and 'Year' containing numerical values.
        year_start: An integer representing the start year.
        year_end: An integer representing the end year.
    
    Returns:
        A dictionary where the keys are the years and the values are the average base pay for that year.
    """
    # YOUR CODE HERE
    # raise NotImplementedError()
    df = df[(df['Year'] >= year_start) & (df['Year'] <= year_end)]
    df = df.groupby('Year')['BasePay'].mean()
    return df.to_dict()

In [23]:
def test_average_base_pay_per_year():
    """Check that average_base_pay_per_year returns the correct output for several inputs"""
average_base_pay_per_year(df, 2011, 2012)

{2011: 63595.956516774524, 2012: 65436.40685742255}

{2011: 63595.956516774524, 2012: 65436.40685742255}

Write a function `unique_job_titles(df)` that takes a dataframe and returns the number of unique job titles.

In [ ]:
def unique_job_titles(df):
    """Find the number of unique job titles in the dataframe.
    
    Args:
        df: A dataframe with a column 'JobTitle' containing strings.
    
    Returns:
        The number of unique job titles as an integer.
    """
    # # YOUR CODE HERE
    # raise NotImplementedError()
    return df['JobTitle'].nunique()

In [ ]:
def test_unique_job_titles():
    """Check that unique_job_titles returns the correct output for several inputs"""

Write a function `top_5_common_jobs(df)` that takes a dataframe and returns the top 5 most common jobs.

In [28]:
def top_5_common_jobs(df):
    """Find the top 5 most common jobs in the dataframe.
    
    Args:
        df: A dataframe with a column 'JobTitle' containing strings.
    
    Returns:
        A list of strings representing the top 5 most common jobs.
    """
    # YOUR CODE HERE
    # raise NotImplementedError()
    return df['JobTitle'].value_counts().head(5).index.tolist()

In [29]:
def test_top_5_common_jobs():
    """Check that top_5_common_jobs returns the correct output for several inputs"""
print("Top 5 common jobs: ", top_5_common_jobs(df))

Top 5 common jobs:  ['Transit Operator', 'Special Nurse', 'Registered Nurse', 'Public Svc Aide-Public Works', 'Police Officer 3']

Write a function `job_titles_with_one_occurence(df, year)` that takes a dataframe and a year, and returns the number of job titles that were represented by only one person in that year.

In [35]:
def job_titles_with_one_occurence(df, year):
    """Find the number of job titles that were represented by only one person in a given year.
    
    Args:
        df: A dataframe with columns 'JobTitle' and 'Year' containing strings and numerical values, respectively.
        year: An integer representing a year.
    
    Returns:
        The number of job titles represented by only one person as an integer.
    """
    # YOUR CODE HERE
    # raise NotImplementedError()
    df_year = df[df['Year']==year]
    df_year = df_year.groupby('JobTitle').count()
    df_year = df_year[df_year['Year']==1]
    print(df_year)
    return df_year.shape[0]

In [37]:
def test_job_titles_with_one_occurence():
    """Check that job_titles_with_one_occurence returns the correct output for several inputs"""
# print(job_titles_with_one_occurence(df, 2011))

Write a function `employees_with_chief_in_title(df)` that takes a dataframe and returns the number of people who have the word "Chief" in their job title. Make sure to account for different cases and placements of the word "Chief".

In [ ]:
def employees_with_chief_in_title(df):
    """Find the number of people who have the word "Chief" in their job title.
    
    Args:
        df: A dataframe with a column 'JobTitle' containing strings.
    
    Returns:
        The number of people who have "Chief" in their job title as an integer.
    """
    # YOUR CODE HERE
    # raise NotImplementedError()
    return df[df['JobTitle'].str.contains('Chief')].shape[0]

In [ ]:
def test_employees_with_chief_in_title():
    """Check that employees_with_chief_in_title returns the correct output for several inputs"""

Write a function `correlation_title_length_salary(df)` that takes a dataframe and returns the correlation between length of the Job Title string and Salary.

In [38]:
def correlation_title_length_salary(df):
    """Compute the correlation between length of the job title and salary.
    
    Args:
        df: A dataframe with columns 'JobTitle' and 'TotalPayBenefits' containing strings and numerical values, respectively.
    
    Returns:
        The correlation as a float.
    """
    # YOUR CODE HERE
    # raise NotImplementedError()
    df['TitleLength'] = df['JobTitle'].apply(len)
    return df['TitleLength'].corr(df['TotalPayBenefits'])

In [39]:
def test_correlation_title_length_salary():
    """Check that correlation_title_length_salary returns the correct output for several inputs"""

# print("Testing correlation_title_length_salary()...", correlation_title_length_salary(df))

Testing correlation_title_length_salary()... -0.03687844593260675